<div class="register-container">
    <h2>Register</h2>
    <form action="/register" method="POST">
        <label for="userName">User Name:</label>
        <input type="text" id="userName" name="userName" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <label >Confirm Password:</label>
        <input type="password"  name="confirm-password" required>

        <p>Have an account yet? <a href="/">Login</a></p>
        <button type="submit">Register</button>
    </form>
</div>